<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="expires" content="600"/>
  <meta title="{{ .Site.Title }}"/>
  <meta name="description" content="{{ .Site.Params.description }}"/>
  <link rel="stylesheet" href="/css/simple.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
    {{- range.Site.Sections }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- end }}
      <a href="/tags/">タグ一覧</a>
    </nav>
    <h1><a href="/">{{ .Site.Title }}</a></h1>
  </header>
  <main>
    <!-- 各テンプレート (list.html, single.htmlなど)のmainを呼び出す -->
    {{ block "main" . }}{{- end }}
  </main>
  <footer>
    Footer
  </footer>
</body>
</html>
