{{/*
  Homeページに対するテンプレート
*/}}
{{ define "main" }}
<!-- 本文表示 -->
<header>
<h2>{{ .Title }} (home.htmlを使用)</h2>
</header>
{{ .Content }}
<!-- セクション一覧 -->
<h2>セクション一覧</h2>
<ul>
{{- range .Sections }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end }}
</ul>
{{ end }}
