{{/*
  Sectionページに対するテンプレート
*/}}
{{ define "main" }}
<!-- 本文表示 -->
<h2>{{ .Title }} (list.htmlを使用)</h2>
{{ .Content }}
<!-- ページ一覧 -->
<ul>
{{- range .Pages }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end }}
</ul>
{{ end }}
