{{/*
  Singleページに対するテンプレート
*/}}
{{ define "main" }}
<h2>{{ .Title }} (single.htmlを使用)</h2>
{{ .Content }}
<!-- 関連ページを表示 -->
<h2>関連ページ</h2>
{{- $pages := .Site.RegularPages.Related . | first 4 }}
<ul>
{{- range $pages }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{- end }}
</ul>
{{ end }}
